!!! 5
html(lang="zh-cn")
  title 推荐商户
  include partials/head
  body(style="background:none")
    input(type='hidden',id='webRoot_weixinapp',value= webRoot_weixinapp)
    .container
      .container-fluid(style="padding:15px")
        div.merchantInfoDiv
          | 推荐商户


  include partials/footer
  include partials/foot
