!!! 5
html(lang="zh-cn")
  title 贝客汇用户注册
  include partials/head
  body(style="background:none")
    input(type='hidden',id='webRoot_weixinapp',value= webRoot_weixinapp)
    .container
      .span4.offset4
        .padded
          .login.box(style='margin-top: 30px;')
            .box-header
              span.title 贝客汇用户注册
            .box-content.padded
              !=messages()
              form.separate-sections(method="post", action= webRoot_weixinapp + '/userSignUp')
                input(type='hidden',name='merchantId',value= merchantId)
                input(type='hidden',name='FromUserName',value= FromUserName)
                .input-prepend
                  span.add-on(href='#')
                    i.icon-user
                  input(type='text',name='userName', placeholder='用户名(必须使用手机号码注册)')
                .input-prepend
                  span.add-on(href='#')
                    i.icon-key
                  input(type='password',name='password', placeholder='密码')
                .input-prepend
                  span.add-on(href='#')
                    i.icon-key
                  input(type='password',name='confirmPassword', placeholder='确认密码')
                div
                  a.btn.btn-blue.btn-block(href='javascript:void(0);',onclick='$("form.separate-sections").submit()')
                    | 注册
                    i.icon-ok
              div
                a(href= webRoot_weixinapp + '/openCreateWeiXinInUserPage?merchantId='+ merchantId + '&FromUserName=' + FromUserName)
                  | 已经有一个帐户吗?
                  strong 绑定微信
    include partials/foot
