//Typograph variables
$base-font-size: 12px;
$base-line-height: 20px;
$default-rhythm-border-style: solid;
$round-to-nearest-half-line: false;
$min-line-padding: 2px;

$base-font-weight: 200;

//Global Setting.
$color-menu: #5fc76a;
$hover-menu: $color-menu - 40;
$text-color: #333333;
$background-panel: white;

// SN Colors

$twitter: #00aced;
$facebook: #3b5998;
$plus: #da4a38;
$instagram: #7b360d;

// round edge
$round-radius: 6px;

