extends partials/default
block PageContent
  .container-fluid
    .row-fluid
      .area-top.clearfix
        .pull-left.header
          h3.title
            i.icon-dashboard
            | 申请商户
          h5
            | 填写商户的详细信息
        ul.inline.pull-right.sparkline-box
          li
            a.btn.btn-green(href= webRoot_wehere +'/merchant/toJoin', title='返回',style='color:white') 返回

  .container-fluid.padded
    !=messages()
    .row-fluid
      #breadcrumbs
        .breadcrumb-button.blue
          span.breadcrumb-label
            i.icon-home
            | 首页
          span.breadcrumb-arrow
            span
        .breadcrumb-button
          span.breadcrumb-label
            i.icon-dashboard
            |  申请商户
          span.breadcrumb-arrow
            span
  .container
    .span8.offset2
      .padded
        #merchantSignUp.login.box
          .box-header
            span.title 申请商户(请认真填写商户信息)
          .box-content.padded
            !=messages()
            form.separate-sections(method="post", action= webRoot_wehere +'/merchant/signUp',enctype='multipart/form-data')
              input(type='hidden',name='merchantRankId',value= merchantRankId)
              input(type='hidden',name='userId',value= userId)
              .input-prepend
                span.add-on(href='#')
                  i.icon-sitemap
                input(type='text',name='merchantName', placeholder='商户名称')
              .control-group
                label.control-label 描述信息：
                textarea(name='description', rows='3',style='width: 100%;',placeholder='商户描述信息')
              .input-prepend
                span.add-on(href='#')
                  i.icon-phone
                input(type='text',name='customerServicePhone', placeholder='客服电话')
              .input-prepend
                span.add-on(href='#')
                  i.icon-globe
                input(type='text',name='webSite', placeholder='商户网站')
              .input-prepend
                span.add-on(href='#')
                  i.icon-exchange
                input(type='number',min='0',step='1',name='rate', placeholder='兑换率(比如:100,表示100会员积分=1平台积分,0表示禁用兑换功能)')
              .control-group
                label.control-label 兑换说明：
                textarea(name='rateExplain', rows='3',style='width: 100%;',placeholder='兑换说明')
              .control-group
                label.control-label 上传商户logo：
                .controls
                  input(type='file',name='logoImage', style='width:50%')
                  span 为了图片显示效果最佳,建议选择图片尺寸为320*200
              div
                label.control-label 商户简介：
                textarea#editor_intro(name='intro', style='width:100%;height:300px;',placeholder='商户简介')
              div
                a.btn.btn-blue.btn-block(href='javascript:void(0);')
                  | 加入
                  i.icon-ok

block scripts
  script
    $('#merchantSignUp form.separate-sections a.btn-blue.btn-block').click(function(e) {
      var merchantName = $('#merchantSignUp form.separate-sections input[name="merchantName"]').val();
      if(!merchantName.trim()){
        alert("商户名称不能为空.");
        return false;
      }
      var telephone = $('#merchantSignUp form.separate-sections input[name="customerServicePhone"]').val();
      if(telephone.trim()&&!isPhone(telephone.trim())){
        alert("客服电话输入错误,请重新输入.");
        return false;
      }
      var webSite = $('#merchantSignUp form.separate-sections input[name="webSite"]').val();
      if(webSite.trim()&&!isUrl(webSite.trim())){
        alert("网站地址输入错误,请重新输入.");
        return false;
      }
      var rate = $('#merchantSignUp form.separate-sections input[name="rate"]').val();
      if(rate&&!isInteger(rate)){
        alert("积分兑换率必须是整数,请重新输入.");
        return false;
      }
      $("#merchantSignUp form.separate-sections").submit();
    });
