!!! 5
html(lang="zh-cn")
  include head
  body
    include header
    block MainArea
      .main-content
          block PageContent
      //
        .extra
          .extra-inner
            .container
              .row
                .span3
                  h4 关于
                  ul
                    li
                      a(href="#") 关于我们
                    li
                      a(href="#") 新浪微博
                    li
                      a(href="#") 联系我们
                    li
                      a(href="#") 官方博客
                .span3
                  h4 支持
                  ul
                    li
                      a(href="#") FAQ常见问题解答
                    li
                      a(href="#") 问题咨询
                    li
                      a(href="#") 视频指南
                    li
                      a(href="#") 反馈意见
                .span3
                  h4 声明
                  ul
                    li
                      a(href="#") 许可信息
                    li
                      a(href="#") 使用条款
                    li
                      a(href="#") 隐私策略
                    li
                      a(href="#") 安全相关
                .span3
                  h4 链接
                  ul
                    li
                      a(href="http://www.apple.com.cn") Apple Inc.
                    li
                      a(href="http://www.wuzai.com/") 吾在软件
                    li
                      a(href="http://www.haibeike.com") 贝客汇
        .footer
          .footer-inner
            .container
              .row
                .span6
                  | &COPY; 2012 &nbsp;
                  a(href="http://www.wuzai.com") 南京吾在软件有限公司
                .span6
                  |《中华人民共和国电信与信息服务业务经营许可证》编号：苏ICP备88888888号-8

  include foot
