!!! 5
html(lang="zh-cn")
  include head
  body(style="background:none")
    input(type='hidden',id='webRoot_weixinapp',value= webRoot_weixinapp)
    include header
    block MainArea
      div
        block PageContent

  include footer
  include foot
