div.footMenuDiv(style="display:none")
  div(style='width:100%;height:60px;')
  div.e.pull-left
    .f
      ul
        li
          a.btn.btn-block.btn-large.btn-info.buttons(href= webRoot_weixinapp + '/openMyMemberServiceList?merchantId='+merchantId+'&FromUserName='+FromUserName)
            i.icon-user  我的
        li
          a.btn.btn-block.btn-large.btn-info.buttons(href= webRoot_weixinapp + '/openStoreList?merchantId='+merchantId+'&FromUserName='+FromUserName)
            i.icon-globe  商户
        li
          a.btn.btn-block.btn-large.btn-info.buttons(href= webRoot_weixinapp + '/openAdvertisementList?merchantId='+merchantId+'&FromUserName='+FromUserName)
            i.icon-gift  活动
        li
          a.btn.btn-block.btn-large.btn-info.buttons(href= webRoot_weixinapp + '/openMyMessageSendRecordList?merchantId='+merchantId+'&FromUserName='+FromUserName)
            i.icon-envelope  信息