
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(name="apple-mobile-web-app-capable", content="yes")
  title= gTitle
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="keywords", content= gKeywords)
  meta(name="description", content= gTitle)

  //Application styles
  link(rel="stylesheet", href= webRoot_href + "/stylesheets/font-awesome.min.css")
  link(rel="stylesheet", href= webRoot_href + "/stylesheets/bootstrap.min.css")
  link(rel="stylesheet", href= webRoot_href + "/stylesheets/bootstrap-responsive.css")
  link(rel="stylesheet", href= webRoot_href + "/stylesheets/responsive-nav.css")
  link(rel="stylesheet", href= webRoot_href + "/stylesheets/style.css")
  link(rel="stylesheet", href= webRoot_href + "/stylesheets/style-weixin.css")
  link(rel="stylesheet", href= webRoot_href + "/stylesheets/style-weixinapp.css")
  link(rel="stylesheet", href= webRoot_href + "/3rd/switch/bootstrap-switch.css")
  link(rel="stylesheet", href= webRoot_href + "/3rd/iCheck/blue.css")
  link(rel="stylesheet", href= webRoot_href + "/3rd/buttons/buttons.css")
  link(rel="stylesheet", href= webRoot_href + "/stylesheets/rating-star.css")

  //if lt IE 9
      script(src= webRoot_href + "/javascripts/html5shiv.js")
      script(src= webRoot_href + "/javascripts/excanvas.js")
  //if lt IE 7
    link(rel="stylesheet", href= webRoot_href + "/stylesheets/font-awesome-ie7.min.css")
  style
    .jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}
  style
    .select2-search input{background:none}
    .select2-container .select2-choice span {margin-right: 0px;}

  script(src= webRoot_href + "/javascripts/common.js")
